@value vars: "../variables.css";
@value grayTrans1, shadow1, sea1, gray1, gray2, gray3, gray4, gray5, gray6, gray7, orange1, orange2, orange3, orange4, green1, white, fontSizeMid, fontSizeBig, fontSizeHug from vars;

.dashboardPage {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  background: url(media/backgroundDashboard.png) no-repeat center / cover;
}
.dashboardPage h1 {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  text-align: center;
  font-size: fontSizeHug;
  color: orange3;
  margin:130px 0 0;
}
.projectsList__hidden {
  display: none;
}
.dashboard__userWizard {
  max-width: 400px;
  margin: 0 auto;
  color: white;
  font-size: fontSizeBig;
  text-align: center;
}
.dashboard__userWizard * {
  margin: 5px;
}
.dashboard__userWizard span {
  float: left;
  width: 100%;
}
.dashboard__userWizard input[type=text] {
  text-align: center;
  font-size: fontSizeBig;
  background-color: grayTrans1;
  border: 1px solid gray7;
}
.dashboard__mainMenu h2 {
  font-family: 'Roboto Mono';
  font-weight: 300;
  font-size: fontSizeHug;
  margin: 0 0 40px;
  text-align: center;
}
.dashboard__mainMenu button {
  width: 50%;
  margin: 10px 25%;
  padding: 15px;
  font-size: fontSizeMid;
  font-weight: 100;
}
.projectCreator, .projectsList {
  max-width: 600px;
  margin: 0px auto;
  padding: 0 0 20px 0;
  text-align: center;
  list-style: none;
}
.folderSelection {
  float: left;
  width: 100%;
  margin: 10px 0;
}
.folderSelection .projectCreator_pathButton, .folderSelection .projectCreator_path {
  float: left;
  width: 50%;
  margin: 0px;
}
.folderSelection .projectCreator_path {
  background-color: gray4;
  border: 1px solid gray7;
  border-left: none;
  color: white;
  height: 48px;
  line-height: 48px;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}
.buttonSubmit {
  margin-top: 10px;
  min-width: 200px;
}
.projectsList li {
  float: left;
  width: 100%;
  text-align: left;
  font-size: fontSizeBig;
  margin-bottom: 10px;
  border-bottom: 1px solid gray5;
  color: white;
}
.projectsList li span {
  float: left;
  width: 70%;
  margin: 0;
  line-height: 45px;
}
.projectsList li button {
  float: left;
  width: 30%;
  margin: 0;
  color: white;
  background-color: transparent;
  border-color: gray5;
  border-bottom: none;
}
.projectsList li:hover {
  border-color: orange2;
  color: orange4;
}
.projectsList li button:hover {
  background-color: orange2;
  border-color: orange2;
}
.projectForm_visible {
  border: 1px solid gray7;
  box-shadow: inset 0 0 0 1px shadow1;
  background-color: grayTrans1;
  color: white;
}