@import "~font-awesome/css/font-awesome.css";
@import 'fonts.css';

@value vars: "./variables.css";
@value shadow1, sea1, gray1, gray2, gray3, gray4, gray5, gray6, gray7, orange1, orange2, orange3, green1, fontSizeMid from vars;

body {
  background-color: white;
  font-family: 'Roboto', serif;
  font-size: fontSizeMid;
  margin: 0px;
}

h1, h2, h3, h4 {
  color: #a0a0a0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

input, select {
  border: 1px solid #b7b7b7;
  color: #a0a0a0;
  font-size: fontSizeMid;
  padding: 10px;
  font-family: 'Roboto';
  box-sizing: border-box;
}
input:focus {
  outline: 2px solid orange3;
  color: gray3;
  border-color: sea1;
}

input[type=submit], button {
  border: 1px solid gray7;
  box-shadow: inset 0 0 0 1px shadow1;
  background-color: gray5;
  color: gray2;
  outline: none;
}
input[type=submit]:hover, button:hover {
  background-color: orange2;
  color: gray5;
  cursor: pointer;
}
input[type=submit]:active, button:active {
  background-color: orange1;
  color: gray5;
}

.basic-input, .folderSelection {
  float: left;
  width: 100%;
  margin: 10px 0;
  text-align: left;
}
.basic-input label {
  font-size: 12px;
}
.input-text input,
.projectCreator .input-text label,
.input-select select,
.input-select label {
  float: left;
  width: 100%;
}
.form-split {
  float: left;
  width: 50%;
}
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.toggleWrap {
  display: inline-block;
  width: 18px;
  height: 10px;
}
.toggleWrap .toggleInput-wrap {
  width: 100%;
  height: 100%;
  border: 1px solid gray4;
  background-color: gray6;
  border-radius: 4px;
  position: relative;
}
.toggleInput-wrap .toggleInput-handle {
  position: absolute;
  top: 0px;
  width: 50%;
  height: 100%;
  background-color: green1;
  border-radius: 3px;
  box-sizing: border-box;
}
.toggleInput-handle.toggleInput-on {
  background-color: green1;
  left: 0%;
  -webkit-animation: moveToggle;
  animation-name: moveToggle;
  animation-duration: 1s;
  animation-direction: reverse;
}
.toggleInput-handle.toggleInput-off {
  background-color: #586978;
  border:1px solid #2B3136;
  left: 50%;
  -webkit-animation: moveToggle;
  animation-name: moveToggle;
  animation-duration: 1s;
}

@keyframes moveToggle {
  0%   {left:0%; top:0px;}
  100% {left:50%; top:0px;}
}