@import "~font-awesome/css/font-awesome.css";
@import 'fonts.css';

body {
  background-color: white;
  font-family: 'Roboto', serif;
  font-size: 14px;
  margin: 0px;
}

h1, h2, h3, h4 {
  color: #a0a0a0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

input, select {
  border: 1px solid #b7b7b7;
  color: #a0a0a0;
  font-size: 14px;
  padding: 10px;
  font-family: 'Roboto';
  box-sizing: border-box;
}
input:focus {
  outline: 2px solid #fcb85f;
  color: #7c7c7c;
  border-color: #71fcf3;
}

input[type=submit], button {
  border: 1px solid #181D21;
  box-shadow: inset 0 0 0 1px #3D444A;
  background-color: #353C42;
  color: #9BA2A3;
  outline: none;
}
input[type=submit]:hover, button:hover {
  background-color: #E69A0B;
  color: #353C42;
  cursor: pointer;
}
input[type=submit]:active, button:active {
  background-color: #F7AB1C;
  color: #353C42;
}

.basic-input, .folderSelection {
  float: left;
  width: 100%;
  margin: 10px 0;
  text-align: left;
}
.input-text input,
.projectCreator .input-text label,
.input-select select,
.input-select label {
  float: left;
  width: 100%;
}
.form-split {
  float: left;
  width: 50%;
}
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.toggleWrap {
  display: inline-block;
  width: 18px;
  height: 10px;
}
.toggleWrap .toggleInput-wrap {
  width: 100%;
  height: 100%;
  border: 1px solid #586978;
  background-color: #2B3136;
  border-radius: 4px;
  position: relative;
}
.toggleInput-wrap .toggleInput-handle {
  position: absolute;
  top: 0px;
  width: 50%;
  height: 100%;
  background-color: #6ADB39;
  border-radius: 3px;
  box-sizing: border-box;
}
.toggleInput-handle.toggleInput-on {
  background-color: #6ADB39;
  left: 0%;
  -webkit-animation: moveToggle;
  animation-name: moveToggle;
  animation-duration: 1s;
  animation-direction: reverse;
}
.toggleInput-handle.toggleInput-off {
  background-color: #586978;
  border:1px solid #2B3136;
  left: 50%;
  -webkit-animation: moveToggle;
  animation-name: moveToggle;
  animation-duration: 1s;
}

@keyframes moveToggle {
  0%   {left:0%; top:0px;}
  100% {left:50%; top:0px;}
}